<footer class="d-flex flex-column justify-content-center align-items-center py-3  border-top bg-body-secondary">
	<div class="col-md-6  d-flex flex-column align-items-center justify-content-center">
		<span class="mb-3 text-muted text-center">Desarrollado por <a class="contacto"
			   href="mailto:julisaenz99@gmail.com">Julia Saenz</a> </span>
		<span class="pt-3 text-muted text-center border-top">Laboratorio emmeLab, Facultad de Artes,
			Universidad Nacional de La Plata</span>
	</div>
</footer>